* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}




/*heading*/



header {
    background-color: #06092b;
    padding: 10px 0;
}


.logo {
    color: #d2ecec;
    font-size: 28px;
    
}
span {
    color:rgb(48, 96, 228)
}




/*LOG-IN-CONTAINER*/
.log-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 90px;
    padding-left: 40px;
    padding-right: 20px;
    border: 2px solid #070c3d;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 100%;
    
    

}

legend {
    font-size: 25px;
    color: #070c3d;
}


input {
    border-color: #070c3d;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}


/*LOG-IN-BUTTON*/
label {
    display: block;
    margin: 0.5 rem 0;
}

button {
    background-color: #fff;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border-color: #070c3d;
    margin-top: 10px;
    margin-bottom: 10px;

}
button a {
    color: #0000;
}
button:hover{
    color: #456191;
    border-radius: 50px;
    transition: 1.5s;
}

.Sign-Up button{
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-color: #070c3d;
    border-radius: 10px;
}
.Sign-Up a {
    color: #050720;
    text-decoration: none;
}
.Sign-Up :hover {
    color: #2d53a500;
    border-radius: 50px;
    transition: 1.2s;
}

fieldset {
    border: none;
    margin: auto;
}

/*DON'T HAVE A ZWORK ACCOUNT?*/
p {
    color: #000;
    margin-top: 20px;
}





/*BOTTOM-NAV-BAR*/
.bottom-nav-bar {
    display: flex;
    align-items: flex-start;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 10%;
    padding-bottom: 120px;
    text-align: center;
    margin: auto;
    

    
}

.bottom-nav-bar ul li {
    display: inline-block;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-top: 10px;
    
    
}
.bottom-nav-bar ul li a {
    color: #fff;
    text-decoration: none;
}


.bottom-nav-bar ul li a:hover{
    color:aqua
}



footer {
    margin: auto;
    background-color: #050720;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    
}










